= form_for(@note) do |f|
  - if @note.errors.any?
    #error_explanation.panel.panel-danger
      .panel-heading
        = pluralize(@note.errors.count, "error")
        prohibited this note from being saved:
      %ul
        - @note.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name, class: "form-control", placeholder: "Name"
  .field
    = f.label :text
    = f.text_area :text, class: "form-control", placeholder: "The content", rows: 10
  .actions
    = f.button class: 'btn btn-default', data: { disable_with: disable_submit(f.submit.to_str)}
