<p>
  <strong>Name:</strong>
  <%= @note.name %>
</p>

<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %>
<%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' } %>
