<h1>Listing link_tags</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Tag</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @link_tags.each do |link_tag| %>
      <tr>
        <td><%= link_tag.link_id %></td>
        <td><%= link_tag.tag_id %></td>
        <td><%= link_to 'Show', link_tag %></td>
        <td><%= link_to 'Edit', edit_link_tag_path(link_tag) %></td>
        <td><%= link_to 'Destroy', link_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link tag', new_link_tag_path %>
