<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @link_tag.link_id %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @link_tag.tag_id %>
</p>

<%= link_to 'Edit', edit_link_tag_path(@link_tag) %> |
<%= link_to 'Back', link_tags_path %>
