%h1= @user.name
%span Joined:  #{ @user.timestamp },
%span Links: #{ @user.links.count },
%span Tags: #{ @user.tags.count },
%span Domains: #{ @user.domains.count },
%span Notes: #{ @user.notes.count }

.charts
  %h2 Created links
  = line_chart @user.links.group_by_day(:created_at).count
%p
  = link_to 'Edit', edit_user_path(@user), class: 'btn btn-sm btn-default'
  = link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-default'
