.entry
  .link
    = link_to link.title, link.url
    %span.domain
      (#{link_to link.domain.domain, link.domain if link.domain})
  .description= link.description
  = render 'shared/tags', tags: link.tags
  %div
    %span.timestamp= link.timestamp
    %span= link_to 'Show', link
    %span= link_to 'Edit', edit_link_path(link)
    %span= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }
