- links.each do |link|
  .entry
    .link
      = link_to link.title, link.url
      %span.domain
        (#{link_to link.domain.domain, link.domain if link.domain})
    .description= link.description
    %div
      - link.tags.each do |tag|
        %span{:class => "label label-#{tag.tag_type}"}= link_to tag.name, tag
      %span= link_to 'Show', link
      %span= link_to 'Edit', edit_link_path(link)
      %span= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }
