%h1= @domain.domain
%p
  = link_to 'Edit', edit_domain_path(@domain), class: 'btn btn-sm btn-default'
%p
  = markdown @domain.description
%p
  Created:  #{ @domain.timestamp },
  Links: #{ @domain.link_count }
= render @domain.links
