= form_for(@link) do |f|
  - if @link.errors.any?
    #error_explanation.panel.panel-danger
      .panel-heading
        = pluralize(@link.errors.count, "error")
        prohibited this link from being saved:
      .panel-body
        %ul
          - @link.errors.full_messages.each do |msg|
            %li= msg
  .field
    = f.label :title
    = f.text_field :title, class: "form-control", placeholder: "Title"
  .field
    = f.label :url
    = f.text_field :url, class: "form-control", placeholder: "Url"
  .field
    = f.label :description
    = f.text_area :description, class: "form-control", placeholder: "Description", rows: 3
  .field
    = f.label :tags
    = f.text_area :tags, :value => @tag_s, class: "form-control", placeholder: "A comma-separated list of tags"
  .actions
    = f.button class: 'btn btn-default', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> #{ f.submit.to_str.include?("Create") ? "Creating..." : "Updating..."}"}
