.entry
  .link
    = link_to link.title, link.url
    = render link.domain if link.domain
  .description= link.description
  %span.timestamp= link.timestamp
  = render link.tags
  .btn-group.link-actions
    = link_to 'Show', link, class:'btn btn-default btn-xs btn-action'
    = link_to 'Edit', edit_link_path(link), class:'btn btn-default btn-xs btn-action'
    = link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default btn-xs btn-action'
