<h1><%= @link.title %> <small> (<%= link_to @link.domain.domain, @link.domain %>) </small></h1>


<p>
  <%= link_to @link.url, @link.url %>
</p>

<p>
  <%= @link.description %>
</p>
<p>
  <%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-sm btn-default' %>
</p>

<label> View this link on: </label>
<p>
  <%= link_to 'Wayback machine', "https://web.archive.org/web/*/#{@link.url}" %>
</p>

