<h1><%= @tag.name %></h1>

<p>
  <%= link_to 'Edit', edit_tag_path(@tag) %>
  <%= link_to 'Destroy', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<%= render 'shared/links', links: @tag.links %>
