%h1
  = @tag.name
  = link_to 'Edit', edit_tag_path(@tag), class: 'btn btn-sm btn-default'
%p
  = markdown @tag.description
%p
  Created:  #{ @tag.timestamp },
  Links: #{ @tag.link_count }
= render @links if @links
= paginate @links if  @links
