= paginator.render do
  .pagination
    %ul.pagination
      = prev_page_tag unless current_page.first?
      - each_page do |page|
        - if page.left_outer? || page.right_outer? || page.inside_window?
          = page_tag page
        - elsif !page.was_truncated? and page.to_i != 1
          = gap_tag
        - unless page.inside_window?
          - if page.last?
            = last_page_tag
          - if page.first?
            = first_page_tag
      = next_page_tag unless current_page.last?
