%li
  = link_to "Links", links_path
%li
  = link_to "Tags", tags_path
%li
  = link_to "Domains", domains_path
%li
  = link_to "Notes", notes_path
- unless current_user
  %li
    = link_to "Log in", new_session_path
  %li
    = link_to "Register", new_user_path
