%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Index', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      - if current_user
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown{class: params[:controller] == 'users' && 'active'}
            %a.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
              %i.fa.fa-user.fa-fw
              = current_user.name
            %ul.dropdown-menu
              %li
                = link_to 'Account', current_user
              %li
                = link_to 'Log out', sign_out_path, method: :delete
